.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.5rem;
  background-color: #505050;
}

.containerFilters {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 75rem;
  padding: 1rem;
}

.recentJobsButton {
  background-color: #7fffd4;
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem;
  transition: 0.4s;
  cursor: pointer;
}

.recentJobsButton:hover {
  background-color: #5df6c3;
}

.button {
  background-color: #ffe4c4;
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem;
  transition: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #fbd09b;
}

.jobsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  overflow-y: auto;
}
